*{
    margin: 0;
    padding: 0;
}


.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* #nav-section{
   
} */
.container{
    /* border: 01px solid red; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    max-width: 1600px;
    padding: 20px 0px;
}


.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menu ul li{
    padding: 25px;
   
}
.menu ul li a{
    text-decoration: none;
     color: black;
}

.btn{
    max-width: 251px;
    max-height: 52px;
    padding: 20px 30px;
    border-radius: 5px;
    color: aliceblue;
    background-color: #30B868;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 600;
}
.btn:hover{
    box-shadow: 0 6px 15px ;
    transform: translateY(-2px);
}

.side-button{
    /* max-width: 198px;
    max-height: 52px; */
    padding: 20px 30px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 5px;
    color: aliceblue;
    background-color: transparent;
    cursor: pointer;
    font-weight: 400;
}
/* Banner section */
#banner{
    background: url("assets/hero-bg.png");
    max-width: 1600px;
    max-height: 674px ;
}
#banner .banner-container{
    text-align: center;
    padding: 115px 120px 180px;
    max-width: 1360px;
}
.early-access-btn{
    background-color: aliceblue;
    color: forestgreen;
    padding: 10px;
    border-radius: 20px; 
    margin-bottom: 20px;
    cursor: pointer;
}
.banner-title h1{

    font-size: 72px;
    line-height: 84px;
    margin-bottom: 16px;
    /* max-width: 770px; */

}
.banner-title p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

/* Notes section */
#notes{
    /* margin: 0 auto 20px; */
    padding-top: 40px;
    text-align: center;
    max-width: 1600px;
}
#notes .section-heading h5{
    font-size: 55px;
}
#notes .section-heading p{
    font-size: 18px;
    color: lightslategray;
}
#notes .section-heading{
    padding-bottom: 20px;
}
.section-card{
    display: flex;
    justify-content: space-around;
    /* box-sizing: border-box; */
   
    margin: 40px 180px 0;
}
.info-card{
    /* border: 1px solid red; */
    padding: 50px 10px 5px;
    box-shadow: 0 15px 50px 0 lightslategrey;

}
.info-card img{
    background-color:#F95555;
    padding: 10px;
    border-radius: 50%;
}
.info-card p{
    max-width: 240px;
}
/* Second Brain Section */
#second-brain{
    max-width: 1600px;
    /* border: 1px solid red; */
}
.second-brain-container{
    padding: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1360px;
    gap: 60px;
}
.brain-img{
    max-width: 600px;
}
.brain-info{
    max-width: 700px;
}
/* #second-brain .brain-info{
    padding-left: 50px ;
} */
.brain-info h4{
    font-size: 15px;
    color: forestgreen ;
    margin-bottom: 10px;
}
.brain-info h1{
    margin-bottom: 10px;
}
.brain-info p{
    color: lightslategrey;
    margin-bottom: 10px;
}
/* .brain-info ul{
    max-width: 322px;
} */
.brain-info ul li{
    font-weight: 300px;
    margin-bottom: 5px;
    list-style:none; 
}
/* Early Access Section */
#early-access {
    
    
    /* padding: 50px 0;
    margin: 20px 120px; */
    
    max-width: 1600px;
    /* max-height: 507px; */
    
}
.access-info{
    max-width: 1360px;
    background-color:#F7F6F2;
    text-align: center;
    border-radius: 12px;
    padding: 120px;
    margin: 2px 120px 120px 120px;
}
.access-info h1{
    font-size: 40px;
}
#early-access .access-info h1 , p, button , p{
    margin-bottom: 10px;
}
/* Footer Section */
#about{
    max-width: 1600px;
    background-color: #001931;
    color: white;
    
}
.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    padding: 120px;
    

}
.last-sec{
    padding : 0 120px 34px;
    text-align: center;
}
