*{
    margin: 0;
    padding: 0;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 25px 80px;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menu ul li{
    padding: 25px;
   
}
.menu ul li a{
    text-decoration: none;
     color: black;
}

.btn{
    padding: 20px 30px;
    border-radius: 5px;
    color: aliceblue;
    background-color: forestgreen;
    border: none;
    cursor: pointer;
    font-weight: 400;

}
.banner-button button{
    
}
.side-button{
    padding: 20px 30px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 5px;
    color: aliceblue;
    background-color: transparent;
    cursor: pointer;
    font-weight: 400;
}
#banner{
    background: url("assets/hero-bg.png");
    
}
#banner .banner-container{
    text-align: center;
    padding: 100px;
}
.early-access-btn{
    background-color: aliceblue;
    color: forestgreen;
    padding: 10px;
    border-radius: 20px; 
    margin-bottom: 20px;
}
.banner-title h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.banner-title p{
    color: aliceblue;
    margin-bottom: 20px;
}