*{
    margin: 0;
    padding: 0;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 25px 80px;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menu ul li{
    padding: 25px;
   
}
.menu ul li a{
    text-decoration: none;
     color: black;
}

.btn{
    padding: 20px 30px;
    border-radius: 5px;
    color: aliceblue;
    background-color: forestgreen;
    border: none;
    cursor: pointer;
    font-weight: 400;

}

.side-button{
    padding: 20px 30px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 5px;
    color: aliceblue;
    background-color: transparent;
    cursor: pointer;
    font-weight: 400;
}
#banner{
    background: url("assets/hero-bg.png");
    
}
#banner .banner-container{
    text-align: center;
    padding: 100px;
}
.early-access-btn{
    background-color: aliceblue;
    color: forestgreen;
    padding: 10px;
    border-radius: 20px; 
    margin-bottom: 20px;
}
.banner-title h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.banner-title p{
    color: aliceblue;
    margin-bottom: 20px;
}

/* Notes section */
#notes{
    margin: 0 auto 20px;
    padding-top: 40px;
    text-align: center;
}
#notes .section-heading h5{
    font-size: 55px;
}
#notes .section-heading p{
    font-size: 18px;
    color: lightslategray;
}
#notes .section-heading{
    padding-bottom: 20px;
}
.section-card{
    display: flex;
    justify-content: space-around;
    /* box-sizing: border-box; */
   
    margin: 0 180px;
}
.section-card .info-card{
    /* border: 1px solid red; */
    padding: 25px 10px 5px;
    box-shadow: 0 20px 50px 5px lightslategrey;

}
.info-card img{
    background-color:crimson;
    padding: 10px;
    border-radius: 50%;
}
.info-card p{
    max-width: 240px;
}